*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pseudo-body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  background-color: black;
}

.chat-container{
  background-color: grey;
  height: 85vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chats{
  background-color: white;
  height: 85%;
  width: 90%;
  overflow: hidden;
}

.bottom-section{
  height: 15%;
  width: 90%;
  background-color: #aaaaaa;
  display: flex;
  flex-direction: row;
  padding: 0.75rem;
}

.message{
  height: 95%;
  width: 80%;
  background-color: white;
}

.message>input{
  width: 100%;
  height: 100%;
  border: none;
  padding: 0.5rem;
}

.send{
  height: 95%;
  width: 20%;
  background-color: #999999;
  text-align: center;
  padding: 1.75rem 0 1.25rem 0;
  transition: 0.5s;
  font-size: 1.25rem;
}

.send:hover{
  background-color: black;
  color: white;
}

.chat-body{
  font-size: 1.2rem;
  display: inline-block;
  min-height: 10%;
  width: 50%;
  background-color: brown;
  margin: 0.5rem 0 0.5rem 0;
  padding: 1rem;
  background-color: #444444;
  color: white;
  overflow-wrap: break-word;
}

.reciever{
  margin-left: 50%;
}

.sender{
  margin-right: 50%;
}

.status{
  background-color: red;
  height: 2.5rem;
  width: 100%;
  background-color: #ff414d;
  padding: 0.5rem;
  text-align: center;
}

@media(max-width: 576px){
  .chat-container{
    width: 100vw;
    height: 70vh;
  }

  .chat-body{
    font-size: 0.9rem;
  }

  .chats{
    overflow: auto;
  }

  .send{
    padding: 1.25rem 0 1.5rem 0;
  }
}

@media(max-height: 520px) {
  .bottom-section{
    position: fixed;
    bottom: 0;
    height: 5rem;
    width: 100vw;
    padding: 0.5rem;
  }

  .send{
    height: 4rem;
  }

  .message{
    height: 4rem;
  }

  .chats{
    height: 100%;
  }

  .chat-container{
    height: 100vh;
  }

  .status{
    display: none;
  }
}
